@page "/departments"
@using BlazorPlayground.Web.Models

<PageTitle>Departments</PageTitle>

<h1>Departments</h1>

<table class="table">
    <tbody>
        @foreach (var department in @Enum.GetValues(typeof(Department)))
        {
            <option>@department</option>
        }
    </tbody>
</table>


@code {

}
